.repos{
    border: black solid 2px;
    margin: 5px;
    padding: 4px;

}

.repos-header-name{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.repos-nav-link{
    text-decoration: none;
}

.repos-description{
    color: gray;
}

.repos-primary-language-color{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repos-primary-language-text{
    padding-left: 2px;
    color: black;
}

.repos-primary-language{
    display: flex;
    align-items: center;
}

.repos-footer{
    display: flex;
    align-items: center;
}
.repos-stars-count{
    color: black;
    padding-left: 2px;
}

.repos-stars{
    display: flex;
    align-items: center;
    padding-left: 6px;
}